
body {
font-family: Roboto, sans-serif;
}

.container {
  min-width: 520px;
  max-width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#0abab5;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
.contacts dd::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-1em);
  border-bottom: 1px solid #0abab5;
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

.contacts {
  position: relative;
  display: inline-block;
}

.contacts dt {
  float: left;
  min-width: 9em;
}

.contacts dd {
  margin-bottom: 1.2em;
  overflow: hidden;
}


  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #0abab5;
}

.button-list {
  display: flex;
}
.wishlist {
  right: 0px;
}
.battleship{
  left: 9px;
}
}